* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.copyright {
    position: fixed;
    bottom: 0;
    left: 20px;
    margin: 0 0 0 0;
}

.logo {
    float: left;
    text-align: center;
    height: 50px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.links {
    position: fixed;
    top: 30px;
    right: 0;
}

#linktext {
    display: inline-flex;
    justify-content: space-between;
    text-decoration: underline;
    margin: 10px;
    z-index: 2;
}

.fixhead {
    height: 69px;
    text-align: left;
    padding: 9.5px;
    border-bottom: 1px solid seashell;
}

.om {
    position: relative;
}

#ombanner {
    background-color: black;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 2;
    top: 40%;
}

#ompic {
    position: static;
    width: 1200px;
    height: 700px;
}

.totm {
    height: 500px;
    width: 1000px;
    margin: auto;
}

#totmpics {
    width: 300px;
    height: 200px;
    display: inline-block;
    justify-content: space-around;
}


.totmblocks {
    display: inline-block;
    justify-content: space-around;
    margin: 10px;
}

#locpic {
    z-index: -1;
}

#lochead {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#locban {
    display: inline-flex;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    justify-content: space-between;
}

#locblock {
    margin: 20px;
    padding: 0px;
    opacity: 1;
    width: 300px;
    height: 200px
}

.loc {
    position: relative;
    z-index: -1;
    display: block;
    height: 500px;
    width: 1200px;
    margin: auto;
    padding: 200px 0px 0px 0px;
}

.contact {
    position: absolute;
    top: 275%;
    width: 100%;
    display: block;
}